/*
 * Content
 */

 [role="main"] {
    /* padding-top: 10; */
    /* Spacer */
}

@media (min-width: 800px) {
    [role="main"] {
        /* padding-top: 10px; */
        padding-bottom: 5%;
        /* Spacer */
    }
}

.wpired {
    color: #AC2B37;
}

.wpigray {
    color: #A9B0B7;
}